<%= devise_error_messages! %>
<% content_for :title_content do %>
    <span style="font-size: 150%"><%= yield :main_action %></span>
<% end %>
<% content_for :left_content do %>
    <%= yield :form_content %>
<% end %>
<%= render(:template=>"shared/splash_with_question_no_form") %>