<li><%= link_to "MANAGE EVENTS", events_org_url(current_user) %></li>
<!--<li><%= link_to "OUR VOLUNTEER TEAM", "#" %></li>
<li><%= link_to "STATS", org_stats_url(current_user) %></li>-->
<li><%= link_to "MY ADMINS", org_admins_url(current_user) %></li>
