<div class="span4">

    <%=image_tag("default-profile-pic-small.png" unless :picture, :class => "pull-left padright-2")%>
    <div>
        <h4><%= yield :name %></h4>
        <i><%= yield :subtext</i>
    </div>
</div>