<%

    user ||= current_user
    image_size ||= :thumb
    actions ||= :none
%>
<div class="row-fluid">
    <div class = "span2">
        <%= photo_link(user.avatar, image_size, user_url(user)) %>
    </div>
    <div class="span10">
<%= link_to switch_user_url(user) do %>
        <p><%= user.name %></p>
<% end %>
    </div>
</div>