<div class="board_padding">
    <div class="panel  panel-default">
      <div class="panel-body">
        <%=image_tag(image, :class => "pull-left board_padding_right")%>
        <h4><%= name %></h4>
        <p><i><%= subtext %></i></p>
        <%=link_to_unless(url.nil?, urltext, url)%>
      </div>
</div>

</div>
