
.ui-tabs-hide, .hide {
	display:none;
}

ul#nav {
	float:left;
	width:250px;
	margin-bottom:30px;
}


ul#nav li {
	padding:0;
	margin-bottom:.15em;
	*margin-bottom:1.5em;
}


body.ie7 ul#nav li, body.ie6 ul#nav li {
	margin-bottom:1em;
}

ul#nav>li>a {
	display:block;
	padding:6px 0 0px 0;
	_padding:0;
	*padding:0;
	line-height:18px;
	outline:0;
}


ul#nav li.ui-tabs-selected a {
	color:#444;
}

ul#nav li.ui-tabs-selected a:hover {
	text-decoration:none;
	cursor:default;
}

#faq-sections {
	float:right;
	position:relative;
	width:450px;
	margin-right:20px;
	margin-top:0;
}


#faq-sections h3 {
	margin:0;
	padding:0;
	font-size:26px;
	font-weight:normal;
	line-height:28px;
	width:400px;
	margin-bottom:20px;
	padding-left:0!important;
}


h3.second {
	clear:both;
	display:block;
	margin-top:40px!important;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.last {
	padding-bottom:0;
	margin-bottom:0;
}







