/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-1 {
  padding-right: 5px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-2 {
  padding-right: 10px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-3 {
  padding-right: 15px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-4 {
  padding-right: 20px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-5 {
  padding-right: 25px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-6 {
  padding-right: 30px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-7 {
  padding-right: 35px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-8 {
  padding-right: 40px;
}

/* line 2, ../../app/assets/stylesheets/helpers.css.scss */
.padright-9 {
  padding-right: 45px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-1 {
  margin-left: 5px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-2 {
  margin-left: 10px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-3 {
  margin-left: 15px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-4 {
  margin-left: 20px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-5 {
  margin-left: 25px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-6 {
  margin-left: 30px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-7 {
  margin-left: 35px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-8 {
  margin-left: 40px;
}

/* line 6, ../../app/assets/stylesheets/helpers.css.scss */
.marginleft-9 {
  margin-left: 45px;
}

/* line 9, ../../app/assets/stylesheets/helpers.css.scss */
.clear {
  clear: both;
  height: 0px;
}
