@import url(http://fonts.googleapis.com/css?family=Domine);

/*  To get the footer to stick to the bottom, set the HTML and body to 100%, and the
    container to be min-height of 100%.  Then, then footer is below the page, so to
    bring it back up, margin it to -(height of footer)px
*/

html, body {
    height: 100%;
    background: $background;
    color: $gray;
    font-family: $baseFontFamily;
}

body {
    font: inherit;
    padding-top: 65px;
}

footer {
    color: $lightGray;
    @extend .navbar-inner;
    @include border-radius(0px);
    box-shadow: 0px 1px 5px $gray;
    border: none;
    .nav > li > a {
        text-shadow: none;
    }
}

/**************
=Custom add-on set to Twitter Bootstrap (uses normalize.css)
 **************/

header, section, aside, nav, article, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    vertical-align: baseline;
    font-family: $baseFontFamily;
}

footer {
    min-height: 100px;
    margin-top: -100px;
}

/**************
 =Typeography
 **************/
.title{
    font-size: 450%;
    line-height: 4*$baseLineHeight;
    padding: 0px 0px 10px 0px;
    margin: 20px 0 20px 0;
}

h3 {
    color: white;
    background-color: $heading_background;
    padding: 2px 0px 2px 5px;
    margin-bottom: 10px;
    font-size: 125%;
    @include border-radius(2px);
}
h2 {
    font-size: 150%;
}
.h2-padding{
    padding-bottom: 20px; 
}
h1 {
    padding-bottom: 20px;
}
.bold{
    font-weight: bold;
}
.hidden {
    display: none;
}
.inline {
    li {
        float: left;
        margin-right: 5px;
    }
}
a:link, a:visited, a:active, a:hover, a {
    text-decoration: none;
}
ul {
    ul.unstyled {
        margin-left: 30px;
    }
}

.border{
    border-left: 1px solid $green;
    padding: 0px 10px 0px 10px;
}

.list_spacing{
    padding: 5px 0px 5px 0px;
    ul{
        li{
            margin-bottom: 10px;
        }
    }
 }
 
li.unstyled {
  list-style: none;
}

 #link_list {
    a {
        color: $gray;
    }
    .link_active {
        color: $green;
    }
}

.defaultText {
    font-style: italic;
    color: $gray;
}

.featuredTitle {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
    font-size: $baseFontSize * 1.75;
    line-height: 30px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.featured {
    margin-top: 20px;
    font-size: $baseFontSize * 1.15;
    line-height: $baseLineHeight * 1.5;    
    overflow: hidden;
}