/**************
 =Static pages
 **************/
.board_padding_right{
    padding-right: 10px;
}
.board_padding{
    padding-top: 5px;
}

.image-alignment{
    text-align: center;
}

/**************
 =Forms
 **************/
label {
    padding-top: 5px;
}

/**************
 =Help
 **************/
#help_content_layout{
}

#help_nav_layout{
    li{
        margin-bottom: 8px;
    }    
}

/**************
 =Scoreboard
 **************/
.scoreboard{
    background-color: $lightGray;
    padding: 10px;
    margin-bottom: 20px;
}
.span_margin_override{
    margin-left: 0px;
}
.scoreboard_content{
    background-color: $lightBlue;
    margin-right: 10px;
    padding: 10px;
    .neighborhood{
        color:$white;
        text-align: center;
        margin-bottom: 5px;
    }
    .stat{
        color:black;
        text-align: left;
    }
}

/**************
 =Input
 **************/
.block {
    display: block;
}
.full {
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
}
input.full, textarea.full {
    margin-left: -3px;
}

textarea {
    height: 150px;
}

/* Otherwise the radio buttons are not vertically aligned with the text */
input[type="radio"] {
    margin-top: .5*$baseLineHeight;
}
input[type="checkbox"] {
    margin-top: .4*$baseLineHeight;
}

/**************
 =JQuery
 **************/
.ui-slider {
    $progressBarHeight: 1em;
    position: relative;
    text-align: left;
    height: $progressBarHeight; 
}

/**************
 =Pagination
 **************/
.pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
    a, span, em {
        padding: 0.2em 0.5em;
    }
    .disabled {
        color: #aaaaaa;
        border: 2px solid white;
    }
    .current {
        font-style: normal;
        font-weight: bold;
        color: #ff0084;
    }
    a {
        line-height: $baseLineHeight;
        border: 1px solid #dddddd;
        color: $darkBlue;
        text-decoration: none;
        &:hover, &:focus {
          border-color: $darkBlue;
          background: $lightBlue;
        }
    }
    .page_info {
        color: #aaaaaa;
        padding-top: 0.8em;
    }
    .previous_page, .next_page {
        border-width: 2px;
    }
    .previous_page {
        margin-right: 1em;
        float: left;
    }
    .next_page {
        margin-left: 1em;
        float: right;
    }
}

/**************
 =JQuery Dropdown styling
 **************/
.dropdown {
    list-style: none;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    text-shadow: none;
}

/**************
 =Splash Frame
 **************/
#splash_frame {
    background: $background;
    border: 5px solid $darkBlue;
    padding: 20px;
}

.question_padding{
    font-size: 250%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/**************
 =Print Screen
 **************/
#print_screen_container{
    margin: 0 40px 40px 40px;
    width:800px;
}
