//Color - Whites
$white: #fefefe;
$offWhite: #e8e8e8;

//Color - Grays
$gray: #555555;
$lightGray: #d8d8d8;
$darkGray: #292929;

//Color - Greens
$green: #66cc66;
$darkGreen: #004900;

//Color - Blues
$lightBlue: #4ea0a7;
$darkBlue: #31859c;

$yellow: #ffee00;

//Font Size
$big_num: 1.6em;

//Sprites
$iconSpritePath:          "/assets/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "/assets/glyphicons-halflings-white.png" !default;

