<%
	size ||= "small"
	dimension ||= 20
%>

<% case size
	when "exsmall"  	
		dimension = 16 
	when "exexsmall"
		dimension = 10
end %>

<% entity.skills.each do |badge| %>
    <span class="<%=size%>_badge" style="background:url('/assets/badges_<%=size%>.png') 0px <%= -dimension*badge.offset %>px;" title="<%= badge.name %>">&nbsp;</span>
<% end %>