<% entity.skills.each do |badge| %>
    <span class="exsmall_badge" style="background:url('/assets/badges_exsmall.png') 0px <%= -16*badge.offset %>px;" title="<%= badge.name %>">&nbsp;</span>
<% end %>