<div class="container" style="clear:both">
    <fieldset>
        <legend>DEBUG</legend>
        Params
        <%= debug(params) %>
        Cookies
        <%= debug(cookies) %>
        Session<br/>
        <%= debug(session) %>
    </fieldset>
</div>