<div id="footer">
	<div id="footer-navtabs" class="navtabs">
	    <ul>
	        <li><a class="fv" href="/about">ABOUT</a></li>
	        <li><a class="fv" href="/partners">PARTNERS</a></li>
	        <li><a class="fv" href="/privacy">PRIVACY</a></li>
	        <li><a class="fv" href="/tou">TERMS OF USE</a></li>
	    </ul>
	</div>
</div>