
	<div id="top">
		<div id="logo-strip">
			<div id="logo" class="fl"><a class="fv" href="/">
				<img id="logoimg" src="/images/logo-smaller.png" alt="Flash Volunteer Logo"/></a>
			</div>
			<div id="volunteerwelcome" class="loggedout"><a class="fv" href="/login" id="l_login">Log in</a> or <a class="fv" href="/new" id="l_create">create an account</a></div>			
	    </div><!--end logo-strip-->
	</div><!--end top-->

	<div id="header-navtabs" class="navtabs">
		<ul>
	        <li id="eventslink"><a class="fv" href="/events" id="l_events">EVENTS</a></li>
			<li id="neighborhoodslink"><a class="fv" href="/neighborhoods" id="l_neighborhoods">NEIGHBORHOODS</a></li>
			<li id="teamlink"><a class="fv" href="/users" id="l_friends">PEOPLE</a></li>
			<li id="helplink"><a class="fv" href="/help" id="l_help">HELP</a></li>
		</ul>
	</div>
