<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to("EVENTS", events_path) %>
            <%= link_to("NEIGHBORHOODS", neighborhoods_path) %>
            <%= link_to("ABOUT", about_path) %>
            <%= link_to("HELP", help_path,) %>
        </div>
    </div>
</div>