<div class="container container-padding">
    <%= render('shared/account_info') %>
</div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container container-padding">
            <div class="nav-collapse">
                <ul class="nav">
                    <li><%= link_to("EVENT LIST", events_path) %></li>
                    <li><%= link_to("MAP", people_path) %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
