<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html"><%= image_tag('fv_logo_small.png') %></a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#featured">Featured</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">All</a></li>
                          <li><a href="#">My Categories</a></li>
                          <li class="divider"></li>
                          <!-- <li class="nav-header">Timeframe</li> -->
                          <li><a href="#">This Month</a></li>
                          <li><a href="#">This Week</a></li>
                          <li><a href="#">Today</a></li>
                        </ul>
                    </li>
                    <li><a href="#map">Map</a></li>
                </ul>
                <form class="navbar-search pull-left">
                  <input type="text" class="search-query" placeholder="Search">
                </form>

                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kenny Lee <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Profile</a></li>
                          <li><a href="#">Settings</a></li>
                          <li><a href="#">Logout</a></li>
                        </ul>
                        </li>
                        </ul>

                        <ul class="nav pull-right">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SEATTLE <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Chicago</a></li>
                          <li><a href="#">New York</a></li>
                          <li><a href="#">Portland</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>