<div class="modal hide fade" role="dialog" id="<%= id %>">
   <div class="modal-header">
     <h3><%= title %></h3>
   </div>

  <%= yield :body_and_footer %>

  <% # TODO: RAILS 4.0 - content_for :body_and_footer, flush: true do ... %>
  <% @view_flow.set(:body_and_footer, "") %>
 </div>