<div class="container">
	<div class="modalDialog" id="<%= id %>">
	     <div class="modalBackground">&nbsp;</div>
	     <div class="modalContainer">
	         <div class="modal">
	             <div class="modalTop"><a href="javascript:hideModal('<%= id %>')">[X]</a></div>
	             <div class="modalBody">
	                 <%= yield :dialog %>
	             </div>
	         </div>
	     </div>
	</div>
</div>