<div class="modalDialog" id="<%= id %>">
     <div class="modalBackground">&nbsp;</div>
     <div class="modalContainer">
         <div class="modal">
             <div class="modalTop"><a href="javascript:hideModal('modalDialog')">[X]</a></div>
             <div class="modalBody">
                 <%= yield %>
             </div>
         </div>
     </div>
 </div>