<!-- 
     ________
    |        |
    |        |
    |________|
-->
<div id="splash_frame">
    <div class="row-fluid">
        <div class="span12">
            <%= yield :content %>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div>
