<!-- 
     ________
    |        |
    |        |
    |________|
-->
<div class="span10 offset1">
    <div id="splash_frame">
        <div class="span10">
            <%= yield :content %>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div>