<!--
     ________
    |        |
    |        |
    |________|
-->
<div class="col-md-10 col-md-offset-1">
    <div id="splash_frame">
        <div class="row">
            <div class="col-md-12">
                <%= yield :content %>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>
