<div class="row-fluid">
    <div class="span2">
        <%= yield :left_split %>
    </div>
    <div class="span10">
    	<div class="border">
        	<%= yield :right_split %>
        </div>
    </div>
</div>