<div class="row-fluid">
    <div class="span3">
        <%= yield :left_split %>
    </div>
    <div class="span9 ">
        <div class="border">
        	<%= yield :right_split %>
        </div>
    </div>
</div>