<div class="row">
    <div class="col-md-2">
        <%= yield :left_split %>
    </div>
    <div class="col-md-10">
    	<div class="border">
        	<%= yield :right_split %>
        </div>
    </div>
</div>
