<div class="row">
    <div class="col-md-4">
        <%= yield :left_split %>
    </div>
    <div class="col-md-8 ">
        <div class="border">
        	<%= yield :right_split %>
        </div>
    </div>
</div>
