<h3>our vision</h3>
<p>Everyone in Seattle engaged in regular volunteer service.</p>          
<h3>our mission</h3>              
<p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>            
<p>We are a 501(c)3 nonprofit organization.</p>            
<p>The source code we are developing is an open source project. <%=link_to("Join the effort!", "http://github.com/agoln/FlashVolunteer")%></p>          
<h3>board of directors</h3>
<div class="row">
    <% [
            Hash["name" => "holly wyrwich", "subtext" => "president"],
            Hash["name" => "jennifer atkinson", "subtext" => "director"],
            Hash["name" => "kenny lee", "subtext" => "director"],
            Hash["name" => "hillary evans", "subtext" => "vice president"],
            Hash["name" => "logan buesching", "subtext" => "director"],
            Hash["name" => "brian nash", "subtext" => "director"],
            Hash["name" => "adam hitch", "subtext" => "treasurer"],
            Hash["name" => "melissa collett", "subtext" => "director"],
            Hash["name" => "deidra ross", "subtext" => "director"],
            Hash["name" => "janis lee", "subtext" => "secretary"],
            Hash["name" => "joy wilke graf", "subtext" => "director"],
            Hash["name" => "brad wilke", "subtext" => "ex officio"]
       ].each_with_index do |person, i| %>
     <%= render(:partial => "users/shared/user_span4", :locals => { :name => person["name"], :subtext => person["subtext"] }) %>
     <% if(i%3 == 2) %>
        <div class="row">&nbsp;</div>
     <% end %>
    <% end %>
</div>
<div class="row">&nbsp;</div>
<h3>our team</h3>
<p>Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!</p>
<div class="row">
    <div class="span4">
        <h4>operations</h4>
    </div>
    <div class="span4">
        <h4>outreach</h4>
    </div>
    <div class="span4">
        <h4>technical</h4>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <% [
            Hash["name" => "brad wilke", "subtext" => "executive director"],
            Hash["name" => "holly wyrwich", "subtext" => "marketing director"],
            Hash["name" => "logan buesching", "subtext" => "development director"],
            Hash["name" => "melissa collett", "subtext" => "engagement director"],
            Hash["name" => "evita almassi", "subtext" => "social media director"],
            Hash["name" => "janis lee", "subtext" => "development directory"],
            nil,
            Hash["name" => "jennifer atkinson", "subtext" => "grant director"],
       ].each_with_index do |person, i| %>
       <% if (person) %>
         <%= render(:partial => "users/shared/user_span4", :locals => { :name => person["name"], :subtext => person["subtext"] }) %>
       <% else %>
             <div class="span4">&nbsp;</div>
       <% end %>
     <% if(i%3 == 2) %>
        <div class="row">&nbsp;</div>
     <% end %>
    <% end %>
</div>