<% content_for :title do %>
<div id="title_block">
	<h1>About Flash Volunteer</h1>
</div>
<% end %>

<div id="middle100">
	<div id="vision" class="hardmodule">
		<div class="moduletitle">
			<h3>Our Vision</h3>
		</div>
		<p>
			Everyone in Seattle engaged in regular volunteer service.
		</p>
	</div>
	<div id="mission" class="hardmodule">
		<div class="moduletitle">
			<h3>Our Mission</h3>
		</div>
		<p>
			Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level.
		</p>
		<p>
			We are a 501(c)3 non-profit organization.
		</p>
		<p>
			The source code we are developing is an open source <strong>project</strong>. <a target="_none" href="http://code.google.com/p/flashvolunteer/">Join the effort!</a>
		</p>
	</div>
	<div id="mission" class="hardmodule">
		<div class="moduletitle">
			<h3>Board of Directors</h3>
		</div>
		<ul>
			<li>
				Sara Cole-Daum, President
			</li>
			<li>
				Hillary Evans
			</li>
			<li>
				Elizabeth Duffell, Secretary
			</li>
			<li>
				Jan Boon (Treasurer)
			</li>
			<li>
				Joy Wilke Graf
			</li>
			<li>
				Melissa Collett
			</li>
			<li>
				Brad Wilke (Ex Officio)
			</li>
		</ul>
	</div>
	<div id="staff_list" class="hardmodule">
		<div class="moduletitle">
			<h3>Our Team </h3>
		</div>
		<div id="recruitment">
			Want to join our team? Send an email to <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a>!
		</div>
		<div>
			<div class="staff_group">
				<h2>Operations</h2>
				<ul>
					<li>
						<div class="staff_block">
							<div class="staff_pic">
								<img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/22838/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a href="http://www.flashvolunteer.org/volunteers/22838">Brad Wilke</a>
								</div>
								<div class="staff_role">
									Executive Director
								</div>
							</div>
							<div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/27846/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/27846">Amy Cox</a>
								</div>
								<div class="staff_role">
									Operations Director
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/23867/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/23867">Elizabeth Duffell</a>
								</div>
								<div class="staff_role">
									Finance Director
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
				</ul>
				<div class="cl">
					<!--empty-->
				</div>
			</div>
			<div class="staff_group">
				<h2>Outreach</h2>
				<ul>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/24801/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/24801">Mellicia Marx</a>
								</div>
								<div class="staff_role">
									Outreach Director
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/22871/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/22871">Sara Cole-Daum</a>
								</div>
								<div class="staff_role">
									Marketing Director
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/33808/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/33808">Monica McCallum</a>
								</div>
								<div class="staff_role">
									Outreach Manager
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/23854/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/23854">Eva Ringstrom</a>
								</div>
								<div class="staff_role">
									Non-profit Outreach
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/48438/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a href="/volunteers/48438">Nick Fellone</a>
								</div>
								<div class="staff_role">
									Non-profit Outreach
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/38802/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/38802">Jennifer Atkinson</a>
								</div>
								<div class="staff_role">
									Grant Consultant
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/26931/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/26931">Olga Vilkotskaya</a>
								</div>
								<div class="staff_role">
									Intern
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/25806">Zach Felsenstein</a>
								</div>
								<div class="staff_role">
									Intern
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
				</ul>
				<div class="cl">
					<!--empty-->
				</div>
			</div>
			<div class="staff_group">
				<h2>Technical</h2>
				<ul>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/22866/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/22866">Travis Kriplean</a>
								</div>
								<div class="staff_role">
									CTO, Developer
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/52942/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/52942">Aaron Hayden</a>
								</div>
								<div class="staff_role">
									Developer
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/35997">Alice Kelly</a>
								</div>
								<div class="staff_role">
									Developer
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/23838/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/23838">Koos Kleven</a>
								</div>
								<div class="staff_role">
									Developer
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/27807/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/27807">Justin Marx</a>
								</div>
								<div class="staff_role">
									Designer
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
					<li>
						<div class="staff_block">
							<div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/22882/avatar" />
							</div>
							<div class="staff_desc">
								<div class="staff_name">
									<a class="fv" href="/volunteers/22882">Andreas Wanka</a>
								</div>
								<div class="staff_role">
									Developer
								</div>
							</div><div class="cl"></div>
						</div>
					</li>
				</ul>
				<div class="cl">
					<!--empty-->
				</div>
			</div>
		</div>
		<div class="cl"></div>
		<div>
			<h2>Past Volunteers</h2>
			<ul>
				<li>
					Erika Canfield - Creative Lead
				</li>
				<li>
					Jay Cox - Marketing Manager
				</li>
				<li>
					Toby Latin-Stoermer - Lead Software Developer
				</li>
				<li>
					Ty Migota - Media Manager
				</li>
				<li>
					Brooke Spearmon - Business Consultant
				</li>
				<li>
					Lee Williams - Lead Software Developer
				</li>
			</ul>
			<div class="cl">
				<!--empty-->
			</div>
		</div>
	</div>
</div>
