<h3>our vision</h3>
<p>Everyone in Seattle engaged in regular volunteer service.</p>          
<h3>our mission</h3>              
<p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>            
<p>We are a 501(c)3 nonprofit organization and the code we are developing is open source.</p>         
<h3>board of directors</h3>
<div class="row">
    <% [
            Hash["name" => "brian nash", "subtext" => "president", "image" => "board/brian.png"],
            Hash["name" => "ajie amir", "subtext" => "director", "image" => "default_user_profile.png"],
            Hash["name" => "janis lee", "subtext" => "director", "image" => "board/janis.jpg"],
            Hash["name" => "deidra ross", "subtext" => "vice president", "image" => "board/deidra.jpg"],
            Hash["name" => "logan buesching", "subtext" => "director", "image" => "board/logan.jpg"],
            Hash["name" => "gary voronel", "subtext" => "director", "image" => "default_user_profile.png"],
            Hash["name" => "holly wyrwich", "subtext" => "secretary ", "image" => "board/holly.jpg"],
            Hash["name" => "kenny lee", "subtext" => "director", "image" => "board/kenny.png"],
            Hash["name" => "brad wilke", "subtext" => "ex officio", "image" => "board/Brad.png"],
       ].each_with_index do |person, i| %>
        <div class="span4">
            <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"] }) %>
        </div>
     <% if(i%3 == 2) %>
        <div class="row">&nbsp;</div>
     <% end %>
    <% end %>
</div>
<div class="row">&nbsp;</div>
<h3>our team</h3>
<p>Want to join our team? Send an email to <%=mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%>!</p>
<div class="row">
    <div class="span4">
        <h4>operations</h4>
    </div>
    <div class="span4">
        <h4>outreach</h4>
    </div>
    <div class="span4">
        <h4>technical</h4>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <% [
            Hash["name" => "brad wilke", "subtext" => "executive director", "image" => "board/Brad.png"],
            Hash["name" => "holly wyrwich", "subtext" => "marketing director", "image" => "board/holly.jpg"],
            Hash["name" => "logan buesching", "subtext" => "development director", "image" => "board/logan.jpg"],
            nil,
            Hash["name" => "ajie amir", "subtext" => "engagement co-director", "image" => "default_user_profile.png"],
            Hash["name" => "janis lee", "subtext" => "design director", "image" => "board/janis.jpg"],
            nil,
            Hash["name" => "gary voronel", "subtext" => "engagement co-director", "image" => "default_user_profile.png"],
       ].each_with_index do |person, i| %>
       <% if (person) %>
         <%= render(:partial => "users/shared/user_span", :locals => { :name => person["name"], :subtext => person["subtext"], :image => person["image"] }) %>
       <% else %>
             <div class="span4">&nbsp;</div>
       <% end %>
     <% if(i%3 == 2) %>
        <div class="row">&nbsp;</div>
     <% end %>
    <% end %>
</div>