<h1>donate</h1>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="brad@flashvolunteer.org">
    <input type="hidden" name="item_name" value="Flash Volunteer Donation">
    <input type="hidden" name="item_number" value="2012">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="tax" value="0">
    <input type="hidden" name="bn" value="DeveloperDonationKit">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
  
<p>If you would like to make a secure donation to support Flash Volunteer, a registered 501(c)3 nonprofit, please click the Donate button!</p>
 
</br><p>Thanks so much!</p>
</br>
<p>p.s. Flash Volunteer is a registered 501(c)(3). All donations are tax-deductible.</p>
