<h3>Social Media / Graphic Design Intern</h3>
<p>
Flash Volunteer seeks to inspire and mobilize volunteers to effect meaningful change on a neighborhood level. We are a volunteer-run nonprofit located in Seattle, WA.
</p>
<p>
We are looking for a social media-savvy intern with an eye for design and the heart for community building to take ownership of creating some simple graphics and curating content for Flash Volunteer’s social media channels. In this position, you will work with our Executive Director, Social Media Manager, the Flash Volunteer Outreach Committee, and other volunteers.
</p>
<p>
<h4>Responsibilities and scope:</h4>
<ul>
    <li>Post regularly on Pinterest and Instagram for Flash Volunteer.</li>
    <li>Create simple graphics for use on Facebook, blog, email newsletter, Instagram and Pinterest. This includes things like resizing and manipulating photos, adding words on top of photos and saving them in the correct format.</li>
    <li>Work alongside our Social Media Manager to execute content.</li>
    <li>Research content for use on our social media networks. This includes memes, nonprofit events, volunteer opportunities, community events, etc.</li>
    <li>Help monitor engagement with social media channels and generate ideas to help followers/fans join the conversation on Flash Volunteer’s networks.</li>
    <li>Help promote special campaigns through social media, as directed by staff.</li>
</ul>
<h4>Skills &amp; technology needs:</h4>
<ul>
    <li>Knowledge of Photoshop or other programs used to manipulate and save graphics in web-friendly file formats. Regular access to these programs.</li>
    <li>A smart phone for posting on Instagram.</li>
    <li>Knowledge of social media platforms (Facebook, Twitter, etc.), social media memes and understanding of Pinterest and Instagram.</li>
</ul>
<h4>Commitment:</h4>
<p>
We are looking for a 6-month commitment, with 5 or more hours a week of self-directed content creation and curation. You will work from home with your own computer, but will have regular meetings with Flash Volunteer representatives, to include attending monthly Outreach Committee meetings.
</p>
<h4>How to apply:</h4>
<p>
Please send a resume and short paragraph describing why you would be a good fit for this position to <a href="mailto:talk@flashvolunteer.org">talk@flashvolunteer.org</a>
</p>
