<div class="container">
	<h1>Be the first to know</h1>
	<p>Sign-up for our email newsletter for featured volunteer events, partner highlights and special invitations to what's happening in your community.</p>

	<form method="post" action="http://oi.vresp.com?fid=c1e3fbafbe" target="vr_optin_popup" onsubmit="window.open('vr_optin_popup', 'scrollbars=yes,width=300,height=450'); return true;">
		<div style="width: 220px; padding: 10px; border: 1px solid #000000; background: #dddddd">
			<strong><span style="color: #333333;">Sign up for our newsletter</span></strong><br/><br/>
			<label> Email address:</label>
			<input name="email_address" size="15" style="margin-top: 5px; border: 1px solid #999; padding: 3px;"/><br/>
			<input type="submit" value="Join" style="margin-top: 5px; border: 1px solid #999; padding: 3px;"/><br/>
			<br/>
			<span style="color: #333333;"><a title="Email Marketing Software by VerticalResponse" href="http://www.verticalresponse.com">Email Marketing Software</a> by VerticalResponse</span>
		</div>
	</form>
</div>