<h1>our partners</h1>
<p>Flash Volunteer is built and run entirely by volunteers. 
We also have a growing number of community partners that have 
lent a hand from time to time. If you would like to join their ranks, 
please let us know: <%mail_to("info@flashvolunteer.org", "info@flashvolunteer.org")%></p>
<table id="partners">
    <tr class="logos">
    </tr>
    <tr class="logos">
        <td><%= image_tag("partners/allforgood_logo.gif") %></td>
        <td><%= image_tag("partners/ubermind-logo.gif") %></td>
    </tr>
    <tr>
        <td><a>All for Good</a> We import some events from All for Good (via their API feed) to help ensure we have a wide variety of volunteer activities for people to sign up for.</td>
        <td><a>&Uuml;bermind</a> is a Seattle-area software consulting firm specializing in mobile social software. They are developing our iPhone application...pro bono.</td>
    </tr>
    <tr class="logos">
        <td><%= image_tag("partners/internmatch_logo.png")%></td>
        <td><%= image_tag("partners/dogoodr_logo.jpg")%></td>
    </tr>
    <tr>
        <td><a>InternMatch</a> Looking for an intern and not a volunteer? Then please check out InternMatch, a site dedicated to connecting interns to nonprofits and small businesses in Seattle.</td>
        <td> <a>DoGoodr</a> is a new user-driven online foundation for nonprofits to post needs (e.g. donations, interns) and find community members to fulfill them.</td>
    </tr>
</table>
