<% content_for :title do %>
<div id="title_block">
	<h1>Privacy Policy</h1>
</div>
<% end %>

<div id="middle100">
	<div id="TOS" class="hardmodule">
		<p>Please take a moment to look at the information below that describe the terms you agree to follow by using Flash Volunteer.  
		We welcome any questions or comments you may have at 
		<a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a></p><br/>
		
		<p>At Flash Volunteer, we value your trust. While you may browse some of the website without disclosing 
		personal data, most functionality will only be accessible after creating a profile.  
		The <a href="#privacy">privacy statement</a> describes:</p>
		
		<ul class="bullets">
		    <li><a href="#collect">What information we collect</a></li>
		    <li><a href="#why_collect">Why we collect that information</a></li>
		    <li><a href="#who_can_see">Who can see your information</a></li>
		</ul>
		
		
		
		<div class="moduletitle">
		    <h3><a name="collect"></a>Information We Collect</h3>
		</div>
		<p>We receive and may store any information entered on our website. If you type it in, it will be on our servers. For example, we store information you provide when registering, signing up for an event, creating an event, joining a group, commenting on a profile or an event. This information may include:</p>
		<ul class="bullets">
		    <li>Your name</li>
		    <li>Your e-mail address</li>
		
		    <li>Your neighborhood</li>
		    <li>Your work neighborhood</li>
		    <li>Your picture</li>
		    <li>Your interests</li> 
		</ul>
		
		<p>We do not knowingly collect personal data from anyone under 18 years old and do not collect information about 
		our visitors from other sources such as public records or bodies.</p>
		
		<div id="why_collect" class="hardmodule">
		    <div class="moduletitle"><h3>Reasons for information collection</h3></div>
		
		    <table border="1" summary="Reasons for collection of all personal information.">
		        <tr>
		            <th>Information</th><th>Required?</th><th>Reason</th><th>Visible to</th>
		        </tr>
		        <tr>
		            <td>Name</td><td>Required</td><td>Identifier</td><td>Visible to Anyone</td>
		
		        </tr>
		        <tr>
		            <td>E-mail address</td><td>Required</td><td>Used to communicate with you about Flash Volunteer updates</td><td>Visible only to Flash Volunteer administrators</td>
		        </tr>
		        <tr>
		            <td>Your home neighborhood</td><td>No</td><td>Used to find opportunities close to you</td><td>Anyone (less revealing than e.g. yellow pages)</td>
		
		        </tr>
		        <tr>
		            <td>Your work neighborhood</td><td>No</td><td>Used to find opportunities close to you</td><td>Anyone</td>
		        </tr>
		        <tr>
		            <td>Your picture</td><td>No</td><td>Gives others an idea of who you are</td><td>Anyone</td>
		
		        </tr>
		        <tr>
		            <td>Your upcoming volunteer events</td><td>No</td><td>When you volunteer for an event</td><td>Depends on visibility settings &mdash; from everyone to your friends to no one</td>
		        </tr>
		    </table>
		</div>
		
		<div class="moduletitle">
		    <h3><a name="who_can_see"></a>Who can see your information</h3>
		</div>
		<p>You are responsible for choosing event visibility settings that you are comfortable with. Your options are to share your events with your Team, with everyone or with no one. We will honor this choice and only allow parties you have granted visibility to see your events. Anyone who knows your name or email address may see your profile by searching for you.</p>
		<br><br>
		<hr>
		<p>[<a href="tos">Top</a>]</p>
		<p class="update">Last Updated: 7/10/2009</p>
		</div>
	</div>
</div>
