<h1>privacy policy</h1>

<p>At Flash Volunteer, we value your trust. While you may browse some of the website without disclosing 
personal data, most functionality will only be accessible after creating a profile.  
The privacy statement describes:</p>

<ul class="bullets">
    <li>What information we collect</li>
    <li>Why we collect that information and who can see it</li>
</ul>

<p>Send questions or comments to
<a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a>.</p>

<h3>information we collect</h3>
<p>We receive and may store any information entered on our website. If you type it in, it will be on our servers. For example, we store information you provide when creating a profile, signing up for an event, creating an event, joining a Flash Team, and recording your volunteer hours. This information may include:</p>
<ul class="bullets">
    <li>Your name</li>
    <li>Your e-mail address</li>
    <li>Your home neighborhood</li>
    <li>Your work neighborhood</li>
    <li>Your picture</li>
    <li>Your interests</li> 
</ul>

<p>We do not knowingly collect personal data from anyone under 18 years old and do not collect information about our visitors from other sources, such as public records or public agencies.</p>

<h3>information collection and public visibility</h3>

<p>Any Flash Volunteer user can view your name and corresponding profile image, but only Flash Volunteer administrators can access your email address. All other information in your profile is visible to others in accordance with your privacy settings. You are responsible for choosing privacy settings that you are comfortable with, and we will honor this choice.</p>

    <table class="table table-striped table-bordered" summary="Reasons for collection of all personal information.">
        <tr>
            <th>Information</th><th>Required?</th><th>Reason</th>
        </tr>
        <tr>
            <td>Name</td><td>Yes</td><td>Identifier</td>

        </tr>
        <tr>
            <td>E-mail address</td><td>Yes</td><td>Used to communicate with you about Flash Volunteer and events you sign up for or create</td>
        </tr>
        <tr>
            <td>Your home neighborhood</td><td>No</td><td>Used to find opportunities close to you</td>

        </tr>
        <tr>
            <td>Your picture</td><td>No</td><td>Gives you an opportunity to personalize your profile</td>

        </tr>
        <tr>
            <td>Your upcoming volunteer events</td><td>No</td><td>When you volunteer for an event</td>
        </tr>
    </table>

</br>
<p>last updated: 5/2/2012</p>