<div class="container">
	<h1>we'll miss you</h1>
	<p>I'll remove you from the email list.  Don't forget to checkout <%= link_to('flashvolunteer.org', 'http://www.flashvolunteer.org')%> for more volunteer opportunities if you ever want to volunteer!</p>
	<br/>
	<p>Happy volunteering!</p>
	<b>Charlie X. Buttons</b>
	<p>Flash Volunteer CEO (Commander of Easy Operations)</p>
	<p><%= mail_to('charlie@flashvolunteer.org', 'Contact me', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>
</div>