<h4>Getting Started with Flash Volunteer</h4>
<p>Thanks for checking out Flash Volunteer. We wish we could wave our magic wands and make hundreds of eager volunteers appear at your door, but until our fairy godmother stops by, here is how you can make the most of the Flash Volunteer.</p>
<p><h5>1. Create an account for yourself</h5> Yes, you. Before you can post an event on Flash Volunteer or create a page for your organization, you need your own personal sign-in.</p>
<%=image_tag('header.png')%>
<p>With just a few answers, you’ll have your profile live and ready to go.</p>
<p><h5>2. If you choose, create a page for your organization</h5> From your My Events page, click My Orgs in the left navigation bar, then click Create New Organization.<%=image_tag('my_events.png', :class => "pull-right")%></p>
<p><em>Why wouldn't I create a page for my organization?</em><br/>Now that you mention it, we’re not really sure! An organization page is a home base for your group on Flash Volunteer. It can post events, showcase information about your org and displays a timeline of previous and upcoming volunteer opportunities.</p>
<p><em>Why a "page" and not a profile?</em><br/>Our system is set up similar to Facebook's: Each person has their own profile, and multiple people can be administrators of a single page.  Administrators can be changed, and that way, you can take your personal Flash Volunteer profile with you, even if you change roles in your organization.</p>
<p><h5>3. Post events</h5> Anywhere you see “create event” on our website is the perfect place to start. Click and go! </p>
<%=image_tag('create_new_event.png')%>

<p>Once your event is created, you can share that direct link with your networks, and we will do the same. Your event can be shared through our Facebook, Twitter and email channels.</p>