<% unless event.is_vm %>
<div class="row-fluid">
    <div class="span12">
       <%= link_to("sign up", register_event_url(event), :method=> :post, :class => "btn btn-primary block")%>
    </div>
</div>
<% end %>