<!-- Middle section with other event data -->
<div class="container">
<p>There doesn't seem to be any events in <strong><%= current_location_name %></strong>.</p>
<p>To see what's possible with Flash Volunteer, check out where it all started, in <a href="/Seattle">Seattle</a>.</p>
<p>To bring Flash Volunteer to your community, contact <a href='mailto:info@flashvolunteer.org'>our team</a>.</p>
</div>
<br><br><br>