<div class="share">
    <ul>
        <li>Share:</li>
        <li class="badge">
            <a target="_blank" href="">
                <%= image_tag("email-icon_normal20.png", 
                    :class => "email-badge-img",
                    :alt => "E-Mail This Info") %>
            </a>
        </li>
        <li class="badge">
            <a target="_blank" href="">
                <%= image_tag("twitter_icon_20x20.png", 
                    :class => "twitter-badge-img", 
                    :alt => "Follow us on Twitter")%>
            </a>                     
        </li>
        <li class="badge">
            <a target="_blank" href="">
                <%= image_tag("facebook-icon_normal20.png",
                    :class => "fb-badge-img",
                    :alt => "Find us on Facebook")%>
            </a>
        </li>
    </ul> 
</div>                