<% if @event.errors.any? %>
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Error!</h4>
        <p>
            <ul>
            <% @event.errors.each do |attr,msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </p>
    </div>
<% end %>

<div class="col-md-12">
  <h3 style="padding: 10px;">edit an event</h3>
</div>
<div class="col-md-12">
<%= render 'events/form' %>
</div>
