<% if @events.count(:all) == 0 %>
    <%= render('getinvolved') %>
<% else %>
    <%= render('featured_events') %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">In the News</h2>
        </div>
        <div class="panel-body">
          <a href="http://web.bus52.com//profiles/flash-volunteer/#" target="_blank"><img class="img-responsive" src="/assets/spotlight/brad.jpg" alt="brad"></a>
          <p>
              We were featured on <a href="http://web.bus52.com//profiles/flash-volunteer/#" target="_blank">Bus52!</a> Click here to see the <a href="http://youtu.be/JwNmdp5sv4Y" target="_blank">video interview</a>.

          </p>
          <p>
              Geekwire <a href="http://www.geekwire.com/2012/startup-spotlight-flash-volunteer-leverages-fun-flash-mobs-social-good/" target="_blank">interviewed us</a> as part of their Startup Spotlight series.
          </p>
          <p>
              <a href="http://youtu.be/W3Bh-qYzbTc" target="_blank">Listen to our interview</a> on Seattle's KOMO News radio!
          </p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">iPhone App</h2>
        </div>
        <div class="panel-body">
          <a href="https://itunes.apple.com/us/app/flash-volunteer/id353017547?mt=8" target="_blank"><img class="img-responsive" src="/assets/spotlight/fv_iPhone.jpg" alt="FlashVolunteer iPhone"></a>
            <p>
                Check out our <a href="https://itunes.apple.com/us/app/flash-volunteer/id353017547?mt=8" target="_blank">iPhone app</a> that you can use to create, search, and signup for volunteer events in your own neighborhood!
            </p>

            <p>
                Get off the couch and change the world!
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Connect With Us</h2>
        </div>
        <div class="panel-body">
          <a href="http://blog.flashvolunteer.org" target="_blank"><img class="img-responsive" src="/assets/spotlight/blog.jpg" alt="blog"></a>
           <p>
               Stay connected with the latest news and volunteer stories through our <a href="http://blog.flashvolunteer.org" target="_blank">blog</a>, <a href="https://www.facebook.com/flashvolunteer" target="_blank">facebook</a>, and <a href="https://twitter.com/flashvolunteer" target="_blank">twitter</a>!
           </p>
           <p>
               Or, send us an email to let know to what's on your mind.  <a href="mailto:connect@flashvolunteer.org">connect@flashvolunteer.org</a>
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
