<div id="left25" class="fl">
Event1<br/>
Event1<br/>
Event1<br/>
Event1<br/>
<%= @downtown.name %><br/>
</div>
<div id="right75" class="fr">
    <div id="map"></div>
</div>
<script>
$(document).ready(function() { 
setMap('map', <%= @downtown.latitude %>, <%= @downtown.longitude %>, <%= @zoom %>); 
});
</script>