<div class="page_header">
	<% if (@neighborhood == nil)
       neighborhood_name = "King County"
     else
       neighborhood_name = @neighborhood.name
    end %>
	<li class="dropdown" id="neighborhood-list">
	    <span class="map_subtitle">events near</span> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="map_title"><%= neighborhood_name %></span><b class="caret"></b></a>
	    <ul class="dropdown-menu">
	        <% Neighborhood.order("name asc").each do |neighborhood| %>
	            <li><%=link_to(neighborhood.name, events_neighborhood_url(neighborhood.name))%></li>
	        <% end %>
	    </ul>
	</li>
</div>
<div style = "clear:both"></div>
<div id="create_string">
    <%= new_event_link %>
</div>
<%= render('map') %>