<%= @event.name %><br/>
-------------------
<table>
	<tr>
		<th>Name</th>
		<th>E-Mail</th>
		<th>Start time</th>
		<th>End time</th>
	</tr>
	<tr>
		<td>________</td>
		<td>________</td>
		<td>________</td>
		<td>________</td>
	</tr>
</table>