<div class="row">
    <div class="col-md-5">
        <%= render :partial => "events/event", :locals => { :event => @event , :description => @event.description , :show_links => true } %>
    </div>
</div>
