<% content_for :right_split do %>
<h3>privacy</h3>
<p>Who can see your upcoming events?</p>
<div class="row-fluid">
	<div class="span1 offset1">
		everyone
	</div>
	<div class="span1 offset2">
		flash team
	</div>
	<div class="span1 offset3">
		just me
	</div>
</div>
<a href="#" onclick="" class="btn btn-primary">
            save settings
</a>
<% end %>
<%= render(:partial => "users/shared/me_settings") %>