<% content_for :right_split do %>
<h3>privacy</h3>
<p>Who can see your upcoming events?</p>
<div class="row-fluid">
	<div class="span4">
		<%= image_tag("everyone.png") %>
	</div>
	<div class="span4">
		<%= image_tag("team.png") %>
	</div>
	<div class="span4">
		<%= image_tag("onlyMe.png") %>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		everyone
	</div>
	<div class="span4">
		flash team
	</div>
	<div class="span4">
		just me
	</div>
</div>
<br />
<div class="row-fluid">
    <div class = "span2">&nbsp;</div>
    <div class = "span10">
        <button type="submit" href="#" class="btn btn-primary pull-right">save settings</button>   
    </div>
</div>
<% end %>
<%= render(:partial => "users/shared/me_settings") %>