<% content_for :question do %>
    First we need an account for you...
<% end %>
<% content_for :below_question do %>
    <div class="row-fluid">
        <p>Use a connected account to sign into Flash Volunteer. By connecting, you are accepting the <%= link_to("Terms of Use", tou_path) %> and <%= link_to("Privacy Policy", privacy_path) %>:</p>
        <%= render(:partial => "users/shared/external_auth_strip") %>
    </div>
<% end %>
<% content_for :button do %>
<% end %>
<%= render(:template => 'shared/splash_with_question') %>