/**************
 =Events Details Page
 **************/
.event-name {
    letter-spacing: -2px;
    line-height: 1.2em;
 }

/**************
 =Events Map View
 **************/
 .map {
    width: 100%;
    height: 100%;
    .big {
        min-height: 740px;
    }
    .small {
        min-height: 133px;
    }
    /* Bootstrap sets max-width of an image to 100%, google maps doesn't like this */
    img {
        max-width: none;
    }
 }

 .tabs{
    ul{
        li{
            padding: 10px 16px 10px 0px;
        }
    }
 }

 .event_with_marker {
    .marker {
        margin-top: 20px;
        margin-left: -5px;
        width: 30px;
        height: 30px;
    }
    .details {
        padding-left: 30px;
        border-top: 1px solid $lightGray;
    }
 }
 .share {
    display: table;
    ul {
        li {
            p {
                margin-top: 5px;
            }
        }
    }
}

.event-title {
    font-weight:bold;
    padding-bottom: 8px;
}  

.event-summary form {
	margin-bottom: 0px;
}

.event-summary {
    padding-top: 10px;
    margin-top: 10px;
}

#neighborhood-list {
    margin-bottom: 10px;
}

.map_title{
    font-size: $baseFontSize * 2.5;
}
.map_subtitle{
    font-size: $baseFontSize * 1.5;
}

.event-calendar-export{
    text-align: right;
    margin-bottom: 3em;
}

#map-caret {
    border-top: 8px solid $gray;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: 13px;
}

#neighborhood-selection {
    width: 300px;
}

.prev-next {
    margin-bottom: 20px;
}


/**************
 =Event Edit Form
 **************/
 #geocoded-address {
    font-weight: bold;
    font-style: italic;
 }

 #eventmap {
    height: 300px; 
    margin-bottom: 10px;
 }