/**************
 =Featured Events
 **************/
figure {
    position: relative;
}

.featuredTitle {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
    font-size: $baseFontSize * 1.75;
    line-height: 30px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.featured {
    margin-top: 20px;
    font-size: $baseFontSize * 1.15;
    line-height: $baseLineHeight * 1.5;    
    overflow: hidden;
}

 .featured-banner {
    height: 125px;
    width: 125px;
    background-image:url(bannerFeatured.png);
    z-index: 1;
    position: absolute;
    left: -2px;
    top: -1px;
    text-indent: -9999px;
}

.countdown {
    margin-top: 10px;
    padding: 5px;
    line-height: 125%;
    font-family: $baseFontFamily;
}

.countdownTitle {
    color: $darkGreen;
    font-weight: bold;
}

.btn-large{
    margin-left: 0px;
    width: 260px;
    margin-bottom: 10px;
}

.btn-medium{
    margin-left: 0px;
    width: 200px;
    margin-bottom: 10px;
}

.event-date-loc {
    margin: 10px 0;
    font-size: 1.2em;
}

.sponsor {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 1px 1px 10px $darkGray;  
    -webkit-box-shadow: 1px 1px 10px $darkGray;  
    box-shadow: 1px 1px 10px $darkGray; 
    @include border-radius(10px);
    font-family: $baseFontFamily;
}

.sponsor h3 {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    background: $green;  
    padding: 0px 20px;  
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -14px;  
    position: relative;
    -moz-box-shadow: 1px 1px 3px $darkGray;  
    -webkit-box-shadow: 1px 1px 3px $darkGray;  
    box-shadow: 1px 1px 3px $darkGray;  
    color: $darkGreen;  
    text-shadow: 0 1px 0 white;
    text-align: center;
}

.sponsor img {
    float: left;
    margin: 0 5px 5px 0;
}

.arrow {
    width: 0; height: 0;  
    line-height: 0;  
    border-top: 10px solid $darkGreen;  
    top: 100%;  
    position: absolute;  
}

.arrow-left {  
    @extend .arrow;
    border-left: 10px solid transparent;  
    left: 0;  
} 

.arrow-right { 
    @extend .arrow;
    border-right: 10px solid transparent;  
    right: 0;  
} 

.thumbnails .img-polaroid:hover {
    -moz-box-shadow: 1px 1px 10px $darkGray;  
    -webkit-box-shadow: 1px 1px 10px $darkGray;  
    box-shadow: 1px 1px 10px $darkGray; 
    @include transition(all .2s ease-in-out);

}

.thumbnails h2 {
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

figcaption.featured_badges {
    min-height: 200px;
}

.featured-middle {
    text-align: center;
    background-color: $green;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.5);
    margin-bottom: 50px;
    h2{
        font-size: 3em;
        line-height: 2em;
        color: white;
        & a {
            color: $darkGreen;
        }
        & a:hover {
            color: #FFEE00;
        }
    }
}

.bigNumEvents {
    font-size: $big_num;
}

.bigNumVolunteers {
    font-size: 1.2em;
    color: #FFEE00;
}

@media (max-width: 979px) {
    .featured-middle {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        h2{
            font-size: 2em;
            line-height: 2em;
        }
    }

    .bigNumEvents {
        font-size: 1.4em;
    }

    .bigNumVolunteers {
        font-size: 1.4em;
    }

}