/**************
 =Footer
 **************/

.followus ul li {
    font-weight: bold;
    padding-left: 0px;
}

.copy {
    text-align: right;
    margin-right: 10px;
}
#clearfooter {
    // height: 130px;
    margin-top: 20px;
    clear: both;
}
