$bgDefault      : $gray;
$bgHighlight    : $gray;
$colDefault     : $offWhite;
$colHighlight       : $white;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  height: 51px;
  .navbar-brand {
    color: $colDefault;
    background: url(fv_logo_small.png) left no-repeat;
    position: relative;
    top: 5px;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 200px;
    text-indent: -9999px;
    &:hover, &:focus {
      color: $colHighlight;
      @include transition(opacity 0.1s ease-in-out);
      opacity: .75;}}

  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        float: none;
        color: $lightGray;
        text-decoration: none;
        text-shadow: -1px 0 0 $darkGray;
        &:hover,  &:focus {
          color: $colHighlight;
          background-color: $darkGray}}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
