/**************
 =Errors
 **************/
.alert {
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
  font-weight: bold;
}

/**************
 =Other
 **************/
.modalDialog
{
     display: none;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0px; 
     left: 0px;
}
.modalBackground
{
     filter: Alpha(Opacity=40); 
     -moz-opacity:0.4; 
     opacity: 0.4;
     width: 100%; 
     height: 100%; 
     background-color: #999999;
     position: absolute;
     z-index: 500;
     top: 0px; 
     left: 0px;
}
.modalContainer
{
     position: absolute;
     width: 600px;
     left: 60%;
     top: 75%;
     z-index: 750;
}
.modal
{
     background-color: white;
     border: solid 4px black; 
     position: relative;
     top: -150px;
     left: -300px;
     z-index: 1000;
     width: 600px;
     height: 300px;
     padding: 0px;
}
.modalTop
{
     width: 592px;
     background-color: $green;
     padding: 4px;
     color: #ffffff;
     text-align: right;
}

.modalTop a, .modalTop a:visited
{
     color: #ffffff;
}

.modalBody
{
     padding: 10px;
}