/**************
 =Pagination
 **************/
.pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
    a, span, em {
        padding: 0.2em 0.5em;
    }
    .disabled {
        color: #aaaaaa;
        border: 2px solid white;
    }
    .current {
        font-style: normal;
        font-weight: bold;
        color: #ff0084;
    }
    a {
        line-height: $baseLineHeight;
        border: 1px solid #dddddd;
        color: $darkBlue;
        text-decoration: none;
        &:hover, &:focus {
          border-color: $darkBlue;
          background: $lightBlue;
        }
    }
    .page_info {
        color: #aaaaaa;
        padding-top: 0.8em;
    }
    .previous_page, .next_page {
        border-width: 2px;
    }
    .previous_page {
        margin-right: 1em;
        float: left;
    }
    .next_page {
        margin-left: 1em;
        float: right;
    }
}
