/**************
 =About Us
 **************/
.team-name {
    font-size: 1.3em;
    width: 95%;
    position: relative;
    background: $lightGray;
    color: $darkGreen;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.team-join {
    margin-top: 30px;
}
