
/* Common */
$white: #FEFEFE;
$green: #66cc66;
$darkGreen: #004900;
$babyBlue: #E6F4F4;
$lightBlue: #4EA0A7;
$darkBlue: #31859C;
$badgeBlue: #5795ae;
$Gray: #555555;
$lightGray: #d8d8d8;
$grayNav: #3b3b3b;
$lightGrayNav: #5d5d5d;
$offWhite: #e8e8e8;

$heading_background: #777;
$background:  url(/assets/bg_square.png) center top repeat;
$baseLineHeight: 16px;
$baseFontSize: 14px;

/* Header/Footer */
$header_background: #3B3B3B;
$header_link_text_color: #4EA0A7;
$header_text_color: #CCC;

/* Container */
$content_text_color: $Gray;
$content_link_text_color: $darkBlue;
$content_alt_color: $darkBlue;
$linkColor: $lightBlue;

/* Bootstrap overrides */
$baseFontFamily: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$navbarBackground: $grayNav;
$navbarBackgroundHighlight: $lightGrayNav;
$navbarLinkColor: $lightGray;
$navbarLinkColorHover: white;
$btnPrimaryBackground: $green;
$navbarText: $offWhite;
$navbarLinkColorActive: $green;

$iconSpritePath:          "/assets/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "/assets/glyphicons-halflings-white.png" !default;