
/* Common */
$white: #FEFEFE;
$green: #2FB002;
$babyBlue: #E6F4F4;
$lightBlue: #4EA0A7;
$darkBlue: #31859C;
$Gray: #555555;
$lightGray: rgba(0, 0, 0, .15);


$heading_background: #777;
$background_color: white;
$baseLineHeight: 18px;
$baseFontSize: 13px;

/* Header/Footer */
$header_background: #3B3B3B;
$header_link_text_color: #4EA0A7;
$header_text_color: #CCC;

/* Container */
$content_text_color: $Gray;
$content_link_text_color: $darkBlue;
$content_alt_color: $darkBlue;
$linkColor: $lightBlue;

/* Bootstrap overrides */
$baseFontFamily: "lucida grande", tahoma, verdana, arial, sans-serif;
$navbarBackground: $green;
$navbarLinkColor: white;
$navbarBackgroundHighlight: $green;
$primaryButtonBackground: $green;