/*  To get the footer to stick to the bottom, set the HTML and body to 100%, and the
    container to be min-height of 100%.  Then, then footer is below the page, so to
    bring it back up, margin it to -(height of footer)px
*/
#wrapper {
    min-height: 100%;
}
html, body {
    height: 100%;
    background: $background;
    color: $content_text_color;
    font-family: $baseFontFamily;
}

body {
    font: inherit;
    padding-top: 65px;
}

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .btn-create-new {
        text-align: center;
    }
}

@media (min-width: 980px) {
    .btn-create-new {
        float: right;
    }
}



#content {
    margin-bottom: 100px;
}

/**************
Custom add-on set to Twitter Bootstrap (uses normalize.css)
 **************/

header, section, footer, aside, nav, article, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    vertical-align: baseline;
    font-family: $baseFontFamily;
}

footer {
    min-height: 100px;
    margin-top: -100px;
}

/**************
 Overwriting Twitter Bootstrap
 **************/

.navbar .nav > li > a {
  float: none;
  padding: 12px 15px 12px;
  color: $lightGray;
  text-decoration: none;
  text-shadow: -1px 0 0 #222;
}

.container{
    padding: 0px;
}

.container-padding{
    padding: 0 5px;
}

.navbar-inner {
    padding-left:  0px;
    padding-right: 0px;
    @include border-radius(0px);
}

.navbar .nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
}

.navbar-footer .nav > li:first-child > a {
    padding-left: 0px;
}

.nav-collapse .nav > li > a {
    font-weight: normal;
}

.add-on {
    margin-left: 5px;
    a {
        cursor:text;    
    }
}

/* Add logo in .navbar */
.navbar .brand
{
    position: relative;
    top: 3px;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 200px; 
    text-indent: -9999px;
    background: url(fv_logo_small.png) left no-repeat;
}

.navbar .brand:hover{
    @include transition(opacity 0.1s ease-in-out);
    opacity: .75;
}

.carousel {
    margin-bottom: 0;
    .carousel-caption {
        h2 {
            color: $white;
        }
    }
}

/**************
 Common page elements
 **************/
.page_header{
    padding-bottom: $XSPadding;
}

.link_padding{
    padding-top: $SPadding;
}

.divider_margin{
    margin-left: $LPadding;
}

/**************
 Badges
 **************/
.small_badge {
    display: block;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.small_badge:hover {
    background-color: red;
}

span .small_badge:hover{
    background-color: red;
}

.exsmall_badge {
    @extend .small_badge;
    margin-left: 1px;
    margin-right: 1px;
    width: 16px;
    height: 16px;
}
.medium_badge {
    @extend .small_badge;
    margin: 0px;
    width: 36px;
    height: 36px;
    margin-left: 18px;
}
.large_badge {
    @extend .small_badge;
    width: 64px;
    height: 64px;
    margin-left: 32px;
}
.selectable_option {
    float: left;
    padding: 7px;
    margin: 0px 5px 5px 0;
    width: 128px;
    height: 110px;
    text-align: center;
    /* Since these are floating left, adding the 1px black border will cause
       the items below to not clear left since there is 1px left.  Add a white
       pixeled border to non-selected items to ensure it clears left */
    border: 1px solid transparent;
    &:active {
        border: 1px solid $lightBlue !important;
        background: none repeat scroll 0 0 0 0 darken($babyBlue, 15%) !important;
    }
    label {
        cursor: pointer;
    }
}
.selectable_option_med {
    @extend .selectable_option;
    padding: 5px;
}
.selectable_option_small {
    @extend .selectable_option;
    padding: 2px;
}
.option_selected {
    border: 1px solid $lightBlue !important;
    background: none repeat scroll darken($babyBlue, 5%);
}

.featured_badges {
    margin-bottom: 40px;
}


/**************
 Featured Events
 **************/

.countdown {
    margin-top: 10px;
    padding: 5px;
    line-height: 125%;
    font-family: $baseFontFamily;
}

.countdownTitle {
    color: $darkGreen;
    font-weight: bold;
}

.btn-large{
    margin-left: 0px;
    width: 260px;
    margin-bottom: 10px;
}

.event-date-loc {
    margin: 10px 0;
    font-size: 1.2em;
}

.sponsor {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 1px 1px 10px $shadowGray;  
    -webkit-box-shadow: 1px 1px 10px $shadowGray;  
    box-shadow: 1px 1px 10px $shadowGray; 
    @include border-radius(10px);
    font-family: $baseFontFamily;
}

.sponsor h3 {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    background: $green;  
    padding: 0px 20px;  
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -14px;  
    position: relative;
    -moz-box-shadow: 1px 1px 3px $shadowGray;  
    -webkit-box-shadow: 1px 1px 3px $shadowGray;  
    box-shadow: 1px 1px 3px $shadowGray;  
    color: $darkGreen;  
    text-shadow: 0 1px 0 white;
    text-align: center;
}

.sponsor img {
    float: left;
    margin: 0 5px 5px 0;
}

.arrow {
    width: 0; height: 0;  
    line-height: 0;  
    border-top: 10px solid $darkGreen;  
    top: 100%;  
    position: absolute;  
}

.arrow-left {  
    @extend .arrow;
    border-left: 10px solid transparent;  
    left: 0;  
} 

.arrow-right { 
    @extend .arrow;
    border-right: 10px solid transparent;  
    right: 0;  
} 

.thumbnails .img-polaroid:hover {
    -moz-box-shadow: 1px 1px 10px $shadowGray;  
    -webkit-box-shadow: 1px 1px 10px $shadowGray;  
    box-shadow: 1px 1px 10px $shadowGray; 
    @include transition(all .2s ease-in-out);

}

.thumbnails h2 {
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

figcaption.featured_badges {
    min-height: 200px;
}

/**************
 News
 **************/

h2.spotlight-title {
    border-top:1px solid #AAAAAA;
    margin: 30px auto 50px;
}

h2.spotlight-title span {
    display:block;
    background: $green; 
    color: $white; 
    width:300px; 
    margin:-19px auto; 
    text-align:center 
}

.news {
    margin-bottom: 2em;
    display:block;
}

.alpha { margin-left: 0px; } //Removes left margin from Twitter span X
.omega { margin-right: 0px; } //Removes right margin from Twitter span X

.news-title {
    font-size: 1.3em;
    width: 95%;
    position: relative;
    background: $lightGray;
    color: $darkGreen;
    text-align: center;
    padding: 10px;
    margin: 0 auto 10px;
}

.news > img {
    box-shadow: 1px 1px 5px #888888;
    display: block;
    margin: 0 auto 10px auto;
}

.news > a > img {
    display: block;
    margin: 0 auto 10px auto;
}

/**************
 Events
 **************/
 .map {
    width: 100%;
    height: 100%;
    .big {
        min-height: 740px;
    }
    .small {
        min-height: 133px;
    }
    /* Bootstrap sets max-width of an image to 100%, google maps doesn't like this */
    img {
        max-width: none;
    }
 }

 .tabs{
    ul{
        li{
            padding: 10px 16px 10px 0px;
        }
    }
 }

 .event_with_marker {
    .marker {
        margin-top: 20px;
        margin-left: -5px;
        width: 30px;
        height: 30px;
    }
    .details {
        padding-left: 30px;
        border-top: 1px solid #D3D3D3   
    }
 }
 .share {
    display: table;
    ul {
        li {
            p {
                margin-top: 5px;
            }
        }
    }
}

.event-title {
    font-weight:bold;
    padding-bottom: 8px;
}  

.event-summary form {
	margin-bottom: 0px;
}

.event-summary {
    padding-top: 10px;
    margin-top: 10px;
}

#neighborhood-list {
    margin-bottom: 10px;
}

.map_title{
    font-size: $baseFontSize * 2.5;
}
.map_subtitle{
    font-size: $baseFontSize * 1.5;
}

/**************
 Navigation
 **************/

.navbar > .nav > li > a {
    font-size: 16px;
    color: red;
    text-shadow: 05px 5px 5px $white;
}

.navbar-fixed-top .nav li:hover {
    background-color: $whiteGray;
    @include transition(all .2s ease-in-out);
}

.navbar-fixed-top {
    box-shadow: 0px 1px 5px $Gray;
}

.clickeater {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9000;
}
#search-box-container {
    margin-top: 10px;
}
#search-box {
    line-height: 12px;
    height: 12px;
    margin: 0px;
    border-right: 5px;
    width: 200px;
}

/**************
 Header
 **************/
.logo {
    padding: 20px 5px;
}

#header_personal_text {
    position: relative;
    font-size: 125%;
    margin-top: 25px;
    text-align: right;
    p {
        font-size: 100%;
        margin-right: 10px;
    }
}

#account_pulldown {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 250px;
    background: white;
    border: 1px solid black;
    color: black;
    text-align: left;
    padding: 10px;
    z-index: 9001; /* OVER 9,000! */
    p {
        margin-top: .3*$baseLineHeight;
    }
    .active_account {
        &:hover {
            background-color: $babyBlue;
            cursor: pointer;
        }
    }
    .active_account {
        margin-top: 5px;
    }
    .inactive_account {
        .row-fluid {
            &:hover {
                background-color: $babyBlue;
                cursor: pointer;
            }
            padding-top: 5px;
            &:first-child {
                border-top: 1px solid $green;
            }
        }
    }
}

.search-query {
    margin-top: 3px;
}

/**************
 Footer
 **************/
footer {
    color: black;
    @extend .navbar-inner;
    box-shadow: 0px 1px 5px $Gray;
    border: none;
    .nav > li > a {
        text-shadow: none;
    }
}

.followus {
    font-weight: bold;
}
.copy {
    text-align: right;
    margin-right: 10px;
}
#clearfooter {
    // height: 130px;
    margin-top: 20px;
    clear: both;
}

/**************
 Static pages
 **************/
.board_padding_right{
    padding-right: 10px;
}
.board_padding{
    padding-top: 5px;
}

/**************
 Errors
 **************/
.alert {
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
  font-weight: bold;
}


/**************
 Static pages
 **************/
.image-alignment{
    text-align: center;
}

/**************
 Forms
 **************/
label {
    padding-top: 5px;
}

/**************
 Help
 **************/
#help_content_layout{
}

#help_nav_layout{
    li{
        margin-bottom: 8px;
    }    
}

/**************
 Scoreboard
 **************/
.scoreboard{
    background-color: $lightGray;
    padding: 10px;
    margin-bottom: 20px;
}
.span_margin_override{
    margin-left: 0px;
}
.scoreboard_content{
    background-color: $lightBlue;
    margin-right: 10px;
    padding: 10px;
    .neighborhood{
        color:$white;
        text-align: center;
        margin-bottom: 5px;
    }
    .stat{
        color:black;
        text-align: left;
    }
}

/**************
 Input
 **************/
.block {
    display: block;
}
.full {
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
}
input.full, textarea.full {
    margin-left: -3px;
}

textarea {
    height: 50px;
}

/* Otherwise the radio buttons are not vertically aligned with the text */
input[type="radio"] {
    margin-top: .5*$baseLineHeight;
}
input[type="checkbox"] {
    margin-top: .4*$baseLineHeight;
}
/**************
 JQuery
 **************/
.ui-datepicker {
    background-color:$babyBlue;
}

.ui-slider {
    $progressBarHeight: 1em;
    position: relative;
    text-align: left;
    height: $progressBarHeight; 
    .ui-slider-handle {
        @include border-radius(4px);
        margin-top: -$progressBarHeight*.25;
        position: absolute; 
        z-index: 2; 
        width: .5em; 
        height: $progressBarHeight*1.5; 
        cursor: default;
        background-color: $green;
    }
    .ui-slider-range { 
        position: absolute;
        margin-left: 5px;
        z-index: 1; 
        display: block; 
        height: $progressBarHeight; 
        border: 0; 
        background-position: 0 0;
        background-color: $lightBlue;
    }
}

/**************
 Pagination
 **************/
.pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
    a, span, em {
        padding: 0.2em 0.5em;
    }
    .disabled {
        color: #aaaaaa;
        border: 2px solid white;
    }
    .current {
        font-style: normal;
        font-weight: bold;
        color: #ff0084;
    }
    a {
        line-height: $baseLineHeight;
        border: 1px solid #dddddd;
        color: $darkBlue;
        text-decoration: none;
        &:hover, &:focus {
          border-color: $darkBlue;
          background: $babyBlue;
        }
    }
    .page_info {
        color: #aaaaaa;
        padding-top: 0.8em;
    }
    .previous_page, .next_page {
        border-width: 2px;
    }
    .previous_page {
        margin-right: 1em;
        float: left;
    }
    .next_page {
        margin-left: 1em;
        float: right;
    }
}

/**************
 JQuery Dropdown styling
 **************/
.dropdown {
    list-style: none;
}
.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    text-shadow: none;
}

/**************
 Splash Frame
 **************/
#splash_frame {
    background: $background;
    border: 5px solid $content_link_text_color;
    padding: 20px;
}

.question_padding{
    font-size: 250%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/**************
 Print Screen
 **************/
#print_screen_container{
    margin: 0 40px 40px 40px;
    width:800px;
}

/**************
 Typeography
 **************/
.title{
    font-size: 450%;
    line-height: 4*$baseLineHeight;
    padding: 0px 0px 10px 0px;
    margin: 20px 0 20px 0;
}

h3 {
    color: white;
    background-color: $heading_background;
    padding: 2px 0px 2px 5px;
    margin-bottom: 10px;
    font-size: 125%;
    @include border-radius(2px);
}
h2 {
    font-size: 150%;
}
.h2-padding{
    padding-bottom: 20px; 
}
h1 {
    padding-bottom: 20px;
}
.bold{
    font-weight: bold;
}
.hidden {
    display: none;
}
.inline {
    li {
        float: left;
        margin-right: 5px;
    }
}
a:link, a:visited, a:active, a:hover, a {
    text-decoration: none;
}
ul {
    ul.unstyled {
        margin-left: 30px;
    }
}

.border{
    border-left: 1px solid $green;
    padding: 0px 10px 0px 10px;
}

.list_spacing{
    padding: 5px 0px 5px 0px;
    ul{
        li{
            margin-bottom: 10px;
        }
    }
 }
 
li.unstyled {
  list-style: none;
}

 #link_list {
    a {
        color: $Gray;
    }
    .link_active {
        color: $green;
    }
}

.defaultText {
    font-style: italic;
    color: $Gray;
}

.featuredTitle {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
    font-size: $baseFontSize * 1.75;
    line-height: 30px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.featured {
    margin-top: 20px;
    font-size: $baseFontSize * 1.15;
    line-height: $baseLineHeight * 1.5;    
    overflow: hidden;
}
