/*  To get the footer to stick to the bottom, set the HTML and body to 100%, and the
    container to be min-height of 100%.  Then, then footer is below the page, so to
    bring it back up, margin it to -130px
*/
#nonfooter {
    min-height: 100%;
    color: $content_text_color;
}
html, body {
    height: 100%;
    background-color: $background_color;
}

/**************
 Overwriting Twitter Bootstrap
 **************/

.container{
    padding: 0px;
}

.container-padding{
    padding: 0 5px;
}

.navbar-inner {
    padding-left:  0px;
    padding-right: 0px;
}

.navbar .nav > li > a {
    padding-left: 0px;
    padding-right: 30px;
}

/**************
 Badges
 **************/
.small_badge {
    display: block;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}
.exsmall_badge {
    @extend .small_badge;
    margin-left: 1px;
    margin-right: 1px;
    width: 16px;
    height: 16px;
}
.medium_badge {
    @extend .small_badge;
    margin: 0px;
    width: 36px;
    height: 36px;
    margin-left: 18px;
}
.large_badge {
    @extend .small_badge;
    width: 64px;
    height: 64px;
    margin-left: 32px;
}
.selectable_option {
    float: left;
    padding: 7px;
    margin: 0px 5px 5px 0;
    width: 128px;
    text-align: center;
    /* Since these are floating left, adding the 1px black border will cause
       the items below to not clear left since there is 1px left.  Add a white
       pixeled border to non-selected items to ensure it clears left */
    border: 1px solid white;
    &:active {
        border: 1px solid $lightBlue !important;
        background: none repeat scroll 0 0 0 0 darken($babyBlue, 15%) !important;
    }
    label {
        cursor: pointer;
    }
}
.selectable_option_med {
    @extend .selectable_option;
    padding: 5px;
}
.selectable_option_small {
    @extend .selectable_option;
    padding: 2px;
}
.option_selected {
    border: 1px solid $lightBlue !important;
    background: none repeat scroll darken($babyBlue, 5%);
}

/**************
 Events
 **************/
 .map {
    width: 100%;
    height: 100%;
    .big {
        min-height: 675px;
    }
    .small {
        min-height: 133px;
    }
    /* Bootstrap sets max-width of an image to 100%, google maps doesn't like this */
    img {
        max-width: none;
    }
 }

 .tabs{
    ul{
        li{
            padding: 10px 16px 10px 0px;
        }
    }
 }

 .event_with_marker {
    .marker {
        width: 30px;
        height: 30px;
    }
    .details {
        padding-left: 30px;    
    }
 }
 .share {
    display: table;
    ul {
        li {
            p {
                margin-top: 5px;
            }
        }
    }
}

.event-title {
    font-weight:bold;
}
.event-summary{
    margin-bottom: 16px;
}

.event-summary form {
	margin-bottom: 0px;
}

/**************
 Footer
 **************/
footer {
    height: 130px;
    margin: -130px auto 0 auto;
    background-color: $header_background;
    color: $header_text_color;
    clear: both;
}
.footer-navbar-inner {
    @extend .navbar-inner;
    background-color: $header_background;
    color: $header_text_color;
}
.followus {
    font-weight: bold;
    font-style: italic;
    margin-left: 5px;
}
.copy {
    text-align: right;
}
#clearfooter {
    height: 130px;
    margin-top: 20px;
    clear: both;
}

/**************
 Static pages
 **************/
.board_padding_right{
    padding-right: 10px;
}
.board_padding{
    padding-top: 5px;
}

/**************
 Errors
 **************/
.alert {
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
  font-weight: bold;
}


/**************
 Static pages
 **************/
.image-alignment{
    text-align: center;
}

/**************
 Forms
 **************/
label {
    padding-top: 5px;
}

/**************
 Help
 **************/
#help_content_layout{
}

#help_nav_layout{
    li{
        margin-bottom: 8px;
    }    
}

/**************
 Scoreboard
 **************/
.t1h-stats{
    background-color: #4EA0A7;
    color:white;
    text-align: center;
    margin: 5px;
    padding: 7px 7px;
}

/**************
 Header
 **************/
.header {
    background-color: $header_background;
    margin-bottom: 20px;
    color: $header_text_color;
}

.logo {
    padding: 20px 5px;
}

#header_personal_text {
    position: relative;
    font-size: 125%;
    margin-top: 25px;
    text-align: right;
    p {
        font-size: 100%;
        margin-right: 10px;
    }
}

#account_pulldown {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 250px;
    background: white;
    border: 1px solid black;
    color: black;
    text-align: left;
    padding: 10px;
    z-index: 9001; /* OVER 9,000! */
    p {
        margin-top: .3*$baseLineHeight;
    }
    .active_account {
        &:hover {
            background-color: $babyBlue;
            cursor: pointer;
        }
    }
    .active_account {
        margin-top: 5px;
    }
    .inactive_account {
        .row-fluid {
            &:hover {
                background-color: $babyBlue;
                cursor: pointer;
            }
            padding-top: 5px;
            &:first-child {
                border-top: 1px solid $green;
            }
        }
    }
}

/**************
 Input
 **************/
.block {
    display: block;
}
.full {
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
}
input.full, textarea.full {
    margin-left: -3px;
}

textarea {
    height: 50px;
}

/* Otherwise the radio buttons are not vertically aligned with the text */
input[type="radio"] {
    margin-top: .5*$baseLineHeight;
}
input[type="checkbox"] {
    margin-top: .4*$baseLineHeight;
}
/**************
 JQuery
 **************/
.ui-datepicker {
    background-color:$babyBlue;
}

.ui-slider {
    $progressBarHeight: 1em;
    position: relative;
    text-align: left;
    height: $progressBarHeight; 
    .ui-slider-handle {
        @include border-radius(4px);
        margin-top: -$progressBarHeight*.25;
        position: absolute; 
        z-index: 2; 
        width: .5em; 
        height: $progressBarHeight*1.5; 
        cursor: default;
        background-color: $green;
    }
    .ui-slider-range { 
        position: absolute;
        margin-left: 5px;
        z-index: 1; 
        display: block; 
        height: $progressBarHeight; 
        border: 0; 
        background-position: 0 0;
        background-color: $lightBlue;
    }
}
/**************
 Navigation
 **************/
.navbar {
    font-weight: bold;
}
.clickeater {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9000;
}

/**************
 Pagination
 **************/
.pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
    a, span, em {
        padding: 0.2em 0.5em;
    }
    .disabled {
        color: #aaaaaa;
        border: 2px solid white;
    }
    .current {
        font-style: normal;
        font-weight: bold;
        color: #ff0084;
    }
    a {
        line-height: $baseLineHeight;
        border: 1px solid #dddddd;
        color: $darkBlue;
        text-decoration: none;
        &:hover, &:focus {
          border-color: $darkBlue;
          background: $babyBlue;
        }
    }
    .page_info {
        color: #aaaaaa;
        padding-top: 0.8em;
    }
    .previous_page, .next_page {
        border-width: 2px;
    }
    .previous_page {
        margin-right: 1em;
        float: left;
    }
    .next_page {
        margin-left: 1em;
        float: right;
    }
}

/**************
 JQuery Dropdown styling
 **************/
#create_string{
    margin-top:20px;
}
#neighborhood_list {   
    margin: 0;
    padding: 0;

    h1{
        padding-bottom:0px;
    }
    h1:hover {   
        cursor: pointer;
    }

    a {   
        display: block;
        text-decoration: none;
    }  
      
    li {   
        float: left;
        list-style: none;
        
        ul {   
            margin: 0;
            padding: 0;
            position: absolute;
            visibility: hidden;
            height: 300px;
            overflow-y: scroll;

            li {   
                float: none;
                display: inline;

                a {   
                    padding: 5px 12px;
                    width: auto;
                    background: $babyBlue;
                    
                    &:hover {   
                        background: $lightGray;
                        color: $lightBlue;
                    }
                }
            }
        }
    }
}


/**************
 Photo
 **************/
.photo-thumb {
    width: 32px;
    height: 32px;
}

.photo-profile {
    width: 80px;
    height: 80px;
}

/**************
 Splash Frame
 **************/
#splash_frame {
    background-color: $background_color;
    border: 5px solid $content_link_text_color;
    padding: 20px;
}

.question_padding{
    font-size: 250%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/**************
 Print Screen
 **************/
#print_screen_container{
    margin: 0 40px 40px 40px;
    width:800px;
}

/**************
 Typeography
 **************/
.title{
    font-size: 450%;
    line-height: 4*$baseLineHeight;
    padding: 0px 0px 10px 0px;
    margin: 20px 0 20px 0;
}

h3 {
    color: white;
    background-color: $heading_background;
    padding: 2px 0px 2px 5px;
    margin-bottom: 10px;
    font-size: 125%;
    @include border-radius(2px);
}
h2 {
    font-size: 150%;
}
.h2-padding{
    padding-bottom: 20px; 
}
h1 {
    padding-bottom: 20px;
}
.bold{
    font-weight: bold;
}
.hidden {
    display: none;
}
.inline {
    li {
        float: left;
        margin-right: 5px;
    }
}
a:link, a:visited, a:active, a:hover, a {
    text-decoration: none;
}
ul {
    ul.unstyled {
        margin-left: 30px;
    }
}

.border{
    border-left: 1px solid $green;
    padding: 0px 10px 0px 10px;
}

.list_spacing{
    padding: 5px 0px 5px 0px;
    ul{
        li{
            margin-bottom: 10px;
        }
    }
 }
 
#link_list {
    a {
        color: $lightGray;
    }
    .link_active {
        color: $green;
    }
}

.defaultText {
    font-style: italic;
    color: $lightGray;
}
