/*  To get the footer to stick to the bottom, set the HTML and body to 100%, and the
    container to be min-height of 100%.  Then, then footer is below the page, so to
    bring it back up, margin it to -130px
*/
#nonfooter {
    min-height: 100%;
    color: $content_text_color;
}
html, body {
    height: 100%;
    background-color: $background_color;
}
h2{
    font-size: 150%;
    line-height: $baseLineHeight;
    padding-bottom: 12px;
}
/**************
 Overwriting Twitter Bootstrap
 **************/

.container{
    width: 240px;
 }


.font_normal{
    font-size: 100%;
}

.navbar .nav > li > a {
  padding: 3px 10px 3px 0px;
}

/**************
 Badges
 **************/


/**************
 Events
 **************/
 .map {
    width: 100%;
    height: 100%;
    .big {
        min-height: 200px;
    }
    .small {
        min-height: 100px;
    }
    /* Bootstrap sets max-width of an image to 100%, google maps doesn't like this */
    img {
        max-width: none;
    }
 }
 
 .event_with_marker {
    .marker {
        width: 16px;
        height: 16px;
    }
    .details {
        padding-left: 16px;    
    }
 }
/**************
 Footer
 **************/
footer {
    height: 70px;
    margin: -70px auto 0 auto;
    background-color: $header_background;
    color: $header_text_color;
    clear: both;
}

.followus {
    margin-left: 0px;
}

#clearfooter {
    height: 0px;
    margin-top: 0px;
    clear: both;
}



/**************
 Header
 **************/
.header {
    background-color: $header_background;
    margin-bottom: 2px;
    color: $header_text_color;
}


.logo {
    padding: 5px 0px;
}

#header_personal_text {
    margin-top: 4px;
    text-align: right;
    p {
        margin-right: 10px;
    }
}

/**************
 Input
 **************/


/**************
 JQuery
 **************/


/**************
 Navigation
 **************/


/**************
 Pagination
 **************/
.pagination {
    padding: 0em;
    a, span, em {
        padding: 0em 0em;
    } 
    .page_info {
        padding-top: 0em;
    }
    .previous_page {
        margin-right: 0em;
    }
    .next_page {
        margin-left: 0em;
    }
}

/**************
 Splash Frame
 **************/
#splash_frame {
    background-color: $background_color;
    border: 2px solid $content_link_text_color;
    padding: 5px;
}

.user_layout{
    background-color: $background_color;
    width: 100px;
    float: right; 
}

/**************
 Typeography
 **************/
h3 {
    padding: 2px 0px 2px 5px;
    margin-bottom: 4px;
    font-size: 7px;
    @include border-radius(2px);
}

h1 {
    padding: 2px 0px 2px 0px;
    margin-bottom: 4px;
    font-size: 120%;
}
