/*  To get the footer to stick to the bottom, set the HTML and body to 100%, and the
    container to be min-height of 100%.  Then, then footer is below the page, so to
    bring it back up, margin it to -130px
*/

/**************
 Badges
 **************/

/**************
 Events
 **************/
 .share_logo_mobile{
    width: 500px;
 }


/**************
 Footer
 **************/


/**************
 Forms
 **************/


/**************
 Header
 **************/


.header_mobile {
    background-color: $header_background;
    margin-bottom: 5px;
    color: $header_text_color;
}


.logo-mobile {
    padding: 5px;
}


#header_personal_text_mobile {
    font-size: 70%;
    margin-top: 25px;
    text-align: right;
   
    p {
        font-size: 70%;
        margin-right: 10px;
    }
}
/**************
 Input
 **************/


/**************
 JQuery
 **************/

/**************
 Navigation
 **************/
.nav-mobile {
    font-size: 100%;
    color: white;
}



/**************
 Pagination
 **************/

/**************
 Splash Frame
 **************/


#splash_frame {
    background-color: $background_color;
    border: 2px solid $content_link_text_color;
    border-bottom: -10px;
}

/**************
 Typeography
 **************/

.inline_mobile {
    li {
        float: center;
        margin-right: 5px;
        margin-left: 5px;
    }
}