/****************
 timeline header 
 ****************/
.h1-override{
    padding-bottom:5px;
}

.tlh-username{
    padding-right: 10px;
}

.t1h-skills{
    margin-top:7px;
}

.tlh-bottomrow{
    background-color: rgba(0, 0, 0, .15);
    padding: 10px;
    width: 250px;
}

.tlh-avatar{
    height: 40px;
    width: 40px;
    margin-top: -5px;
    margin-left: 5px;
}

.tlh-followercount-align{
    text-align: center;
}

.tlh-followercount{
    font-size: larger;
    font-weight: bold;
}

.t1h-stats{
    background-color: #4EA0A7;
    color:white;
    text-align: center;
    margin: 16px;
    padding:3px;
}