/* Bootstrap overrides */

.container .row-fluid > [class*="span"] {
  margin-left: 0px;
}

.tl-item .span1 {
    width: 5.333333333%;
}

.tl-item .span11 {
    width: 94.666666667%;
}

.tl-item .span12 {
    width: 100%;
}

/* frame */

.tl-rightcol, .tl-leftcol {
    margin-top: 20px;
}

.tl-leftcol {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.tl-rightcol {
    margin-left: 0px;
}

/* items */

.tl-item {
    margin-bottom: 20px;
}

.tl-leftcol > .tl-item {
    margin-right: 0px;
}

.tl-rightcol > .tl-item {
    margin-left: 0px;
}

.tl-item-contents, .tl-item-beak {
}

.tl-item-contents {
    background-color: White;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 4px;
}

/* Separator */

.tl-separator {
    height: 35px;
    text-align: center;
}

.tl-separator-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 16px;
    height: 3px;
}

/* beak */

.tl-item-beak
{
    border: 25px solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

.tl-item-beakcover 
{   
    border: 23px solid;
    border-top-width: 8px;
    border-bottom-width: 8px;
    height: 0;
    position: relative;
    top: -18px;
    width: 0;
}

.tl-leftcol .tl-item-beak
{
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.25);
}

.tl-leftcol .tl-item-beakcover
{
    border-color: transparent transparent transparent White;
    left: -2px;
}

.tl-rightcol .tl-item-beak
{
    border-color: transparent rgba(0, 0, 0, 0.25) transparent transparent;
    margin-left: -25px;
    margin-top: 25px;
}

.tl-rightcol .tl-item-beakcover
{
    border-color: transparent White transparent transparent;
    left: -19px;
}