<p>Hi, <%= @resource.email %>!</p>
<p>This is a friendly reminder that you're organizing %event_name on %event_date. </p>
<p>Take a moment to review your signups and make sure there's no more information that your volunteers might need. So far, %(vol_count) volunteer(s) have signed up. </p>
<p>Have a blast, and we'll catch you on the flip side!</p>
<p>Sincerely,</p></br>
<p>The Flash Volunteer team</p></br>
<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>