<p>Hi, <%= @resource.email %>,</p>

<p>We hope your event, %event_name, went off without a hitch! Now you just need to do a bit of housekeeping.</p>
<p>Please sign in to Flash Volunteer to record the hours of volunteering that your helpful volunteers completed. It only takes a few minutes, and we'll help you keep track of the volunteer hours your organization racks up! (While you're there, you can give your volunteers a virtual pat on the back, or post another event.)</p>
<p>If you have insights about what would make Flash Volunteer more useful for your work, please share with us! Email <%= mail_to("talk@flashvolunteer.org", "talk@flashvolunteer.org", :subject => "Questions regarding Flash Volunteer", :encode=>"hex")%>. Thanks a bunch!</p>
<p>Sincerely,</p></br>
<p>The Flash Volunteer team</p></br>
<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>