<% content_for :email_content do%>
	<p>Hello, <%= @resource.email %>!</p>


	<p><%event_organizer%> has given you props for your awesomeness.  You are awesome!</p>  

	<p>Happy volunteering!</p>


	<p>Charlie X. Buttons</p>
	<p>Flash Volunteer CEO (Clan Entry Officer) </p>
	<p><%= mail_to('charlie@flashvolunteer.org', 'Contact me', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>

	<p>This notification was sent to <%= @resource.email %> because it was entered on Flash Volunteer to sign up for an event. Click here to unsubscribe.</p>
<% end %>
<%= render(:template => 'users/mailer/header')%>