<% content_for :email_content do%>
	<p>Hello, <%user_name%>!</p>


	<p><%user_name%> has given you props for your awesomeness. You are awesome!</p> 
	
	<p><%props_message%></p> 

	<p>You can return the love [LINK TO PROFILE PAGE OF USER WHO GAVE THE PROPS], if you'd like. Happy volunteering!</p>


	<p>Charlie X. Buttons</p>
	<p>Flash Volunteer CEO (Cheesy Emotions Officer) </p>
	<p><%= mail_to('charlie@flashvolunteer.org', 'Contact me', :subject => 'Questions regarding Flash Volunteer', :encode=>'hex')%></p>

	<p>This notification was sent to <%= @resource.email %> because it is associated with your Flash Volunteer account. Click here [LINK TO COMMUNICATIONS PREFERENCE PAGE] to change your communications preferences.</p>
<% end %>
<%= render(:template => 'users/mailer/header')%>