<p>Hello, <%= @resource.email %>,</p>


<p>You have requested a password reset for your Flash Volunteer account. (If you believe this notification was sent in error, or you did not make this request, please report this to <%= mail_to("info@flashvolunteer.org", "Flash Volunteer", :subject => "Questions regarding Flash Volunteer", :encode=>"hex")%>).</p></br>

<p><%= link_to 'Click here to reset your password.', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


<p>Sincerely,</p></br>
<p>The Flash Volunteer team</p>
</br>
<p>P.S. Your password won't change until you access the link above and create a new one.</p>

<p>This notification was sent to <%= @resource.email %> because it is associated with a Flash Volunteer account. Visit account setup to change your communications preferences. </p>
